<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../materialize/css/materialize.min.css">
  <title>Cuadrados Medios</title>
</head>
<body>
  <form class="container">
    <div class="input-field">
      <input type="number" name="seed" id="txtSeed" class="validate">
      <label class="active" for="seed">Semilla</label>
    </div>
    <div class="input-field">
      <input type="number" name="const" id="txtConst" class="validate">
      <label class="active" for="const">Constante</label>
    </div>
    <div class="input-field">
      <input type="number" name="size" id="txtSize" class="validate">
      <label class="active" for="size">Cantidad de Numeros</label>
    </div>
    <button id="btnOk" class="waves-effect waves-light btn col 4">
      Ok
    </button>
  </form>

  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="../materialize/js/hammer.min.js"></script>
  <script src="../materialize/js/materialize.js"></script>

  <script>

    // Caculates the the radom numbers using middle square algorithm
    function constMult(x, constant, n){
      let D = (x + "").length; // This is the size of each X
      let collection = [];         // Output collection
      for(let i = 0; i < n; i++){
        let prod = x * constant; // Multiply x by the constant
        x = extractFromMiddle(prod, D); // extract D numbers from the middle.
        let r_i = "0." + x;  // append a 0 to the beggining
        collection.push(Number(r_i)); // done.
      }
      return collection;
    }

    function extractFromMiddle(num, n){
      num = String(num);
      if(num.lenght % 2 != n % 2){ // One is pair the oher odd.
        num = "0" + num; // Insert a 0 to the left.
      }
      let index = (num.length - n) / 2
      return Number(String(num).substr(index + 1,n)); //Returns the extracted digits as a number.
    }

    const {ipcRenderer} = require("electron");
    let seedField = document.getElementById("txtSeed");
    let constantField = document.getElementById("txtConst");
    let nField = document.getElementById("txtSize");

    // Calculate on click.
    document.getElementById("btnOk").onclick = (e) => {
      e.preventDefault();
      let seed = document.getElementById("txtSeed").value;
      let constant = document.getElementById("txtConst").value;
      let n = document.getElementById("txtSize").value;
      if(validate()){
        ipcRenderer.send("ShowView:ViewCollection", constMult(seed, constant, n));
      }
    };

    // Whenever clicked remove the invalid class.
    seedField.onfocus = () => {
      seedField.classList.remove("invalid");
    };

    constantField.onfocus = () => {
      constantField.classList.remove("invalid");
    };

    nField.onfocus = () => {
      nField.classList.remove("invalid");
    };

    function validate(){
      if(seedField.value == ""){ // Empty Input
        Materialize.toast("Campo Vacio", 4000);
        seedField.classList.add("invalid"); // Adds the invalid class to the corresponding field.
        return false;
      }else if(constantField.value == ""){ // Empty Input
        Materialize.toast("Campo Vacio", 4000);
        constantField.classList.add("invalid"); // Adds the invalid class to the corresponding field.
        return false;
      }else if(nField.value == ""){ // Empty Input
        Materialize.toast("Campo Vacio", 4000);
        nField.classList.add("invalid");
        return false;
      }else if((seedField.value + "").length < 3){ // Seed Size
        Materialize.toast("Se requiere una semilla de minimo 3 digitos", 4000);
        seedField.classList.add("invalid");
        return false;
      }else if((constantField.value + "").length < 3){ // Seed Size
        Materialize.toast("Se requiere una semilla de minimo 3 digitos", 4000);
        constantField.classList.add("invalid");
        return false;
      }else if(nField.value < 1){// Require a positive grater than 1 quantity of generated numbers.
        Materialize.toast("La cantidad de numeros a generar debe ser minimo 1.", 4000);
        nField.classList.add("invalid");
        return false;
      }else if(seedField.value <= 0){ // Seed value
        Materialize.toast("Se requiere una semilla con valor positivo diferente de 0", 4000);
        seedField.classList.add("invalid");
        return false;
      }else if(constantField.value <= 0){ // Seed value
        Materialize.toast("Se requiere una semilla con valor positivo diferente de 0", 4000);
        constantField.classList.add("invalid");
        return false;
      }else if((seedField.value + "").length != (constantField.value + "").length){  // Different sizes.
        Materialize.toast("La cantidad de digitos de la semilla y la constante debe ser igual.", 4000);
        seedField.classList.add("invalid");
        constantField.classList.add("invalid");
        return false;
      } 
      return true; // Everything is fine.
    }

  </script>

</body>
</html>