<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../materialize/css/materialize.min.css">
  <title>Congruencial multiplicativo</title>
</head>
<body>
  <form class="container">
    <div class="input-field">
      <input type="number" name="seed" id="txtSeed" class="validate">
      <label class="active" for="seed">Semilla</label>
    </div>
    <div class="input-field">
      <input type="number" name="multiplier" id="txtMultiplier" class="validate">
      <label class="active" for="multiplier">Multiplicador</label>
    </div>
    <div class="input-field">
      <input type="number" name="power" id="txtPower" class="validate">
      <label class="active" for="power">Potencia para el módulo</label>
    </div>
    <div class="input-field">
      <input type="number" name="size" id="txtSize" class="validate">
      <label class="active" for="size">Cantidad de Numeros</label>
    </div>
    <button id="btnOk" class="waves-effect waves-light btn col 4">
      Ok
    </button>
  </form>

  <script>

    function conLin(seed, multiplier, n, power){
      let x = parseInt(seed);
      let collection = [];
      let last = seed;
      let module  = 1;
      for(let i = 0; i<power; i++){
        module = module * 2;
      }
      console.log(module);
      for(let i = 0; i<n; i++){
        x = (parseInt(multiplier) * parseInt(last)) % parseInt(module);
        let r = x / (parseInt(module)-1);
        collection.push(r);
        last = x;
      }
      return collection;
    }

    const {ipcRenderer} = require("electron");

     // Calculate
    document.getElementById("btnOk").onclick = (e) => {
      e.preventDefault();
      let seed = parseInt(document.getElementById("txtSeed").value);
      let n = parseInt(document.getElementById("txtSize").value);
      let multiplier = parseInt(document.getElementById("txtMultiplier").value);
      let power = parseInt(document.getElementById("txtPower").value);
      ipcRenderer.send("ShowView:ViewCollection", conLin(seed, multiplier, n, power));
    };
  </script>

</body>
</html>
