<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Prueba de medias</title>

    <!-- Materialize -->
    <link rel="stylesheet" type="text/css" href="../materialize/css/materialize.min.css">

    <!-- MathJax-->
    <script async src="../mathjax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  </head>
  <body>
    <!-- Header -->
    <nav class="teal">
      <div class="container">
        <a href="#" class="brand-logo">Generador de números aleatorios</a>
      </div>
    </nav>

    <!-- Main content -->
    <div class="container">
      <div class="section">
        <h5>Prueba de medias</h5>
        <p>Nivel de confianza:</p>
        <form name="ncform">
          <div class="row">
            <div class="col s2">
              <input name="grpNC" type="radio" id="opt90" />
              <label for="opt90">90%</label>
            </div>
            <div class="col s2">
              <input name="grpNC" type="radio" id="opt95" />
              <label for="opt95">95%</label>
            </div>
            <div class="col s2">
              <input name="grpNC" type="radio" id="opt98" />
              <label for="opt98">98%</label>
            </div>
            <div class="col s2">
              <input name="grpNC" type="radio" id="opt99" />
              <label for="opt99">99%</label>
            </div>
          </div>  
        </form>
        <div class="row">
          <div class="col s4">
            <p>$ N $:</p>
            <blockquote id="bqN">50</blockquote>
          </div>
          <div class="col s4">
            <p>$ NC $:</p>
            <blockquote id="bqNC">0.95</blockquote>
          </div>
          <div class="col s4">
            <p>$ \alpha $:</p>
            <blockquote id="bqAlpha">0.05</blockquote>
          </div>
        </div>
        <canvas id="chart" width="400px" height="100px"></canvas>        
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Desarrollo</h5>
        <div class="row">
          <div class="col s6">
          <p>Hipótesis $ H_0 $:</p>
            <blockquote>La media $\mu_{r_i} = 0.5$</blockquote>    
          </div>
          <div class="col s6">
            <p>Hipótesis $H_1$:</p>
            <blockquote>La media $\mu_{r_i} \ne 0.5 $</blockquote>  
          </div>
        </div>
        <p>De las fórmulas siguientes</p>
        <div class="row">
          <div class="col s4">
            <p>$$\overline{r} = \frac{1}{n}\sum_{i=1}^n{r_i} $$</p>
          </div>
          <div class="col s4">
            <p>$$LI_r = \frac{1}{2} - Z_{\alpha/2} \left( \frac{1}{\sqrt{12n}} \right)$$</p>
          </div>
          <div class="col s4">
            <p>$$LS_r = \frac{1}{2} + Z_{\alpha/2} \left( \frac{1}{\sqrt{12n}} \right)$$</p>
          </div>
        </div>  
        <p>Se obtienen</p>
        <div class="row">
          <div class="col m4 s12">
            <p>$\overline{r}:$</p>
            <blockquote id="bqAvg">50</blockquote>
          </div>
          <div class="col m4 s12">
            <p>$LI_r$:</p>
            <blockquote id="bqLI">50</blockquote>
          </div>
          <div class="col m4 s12">
            <p>$LS_r$:</p>
            <blockquote id="bqLS">50</blockquote>
          </div>
        </div>      
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Conclusión</h5>
        <p>Dado que el valor de $\overline{r}$ se encuentra <span id="ans1">dentro</span> del rango, 
        podemos concluir que la hipótesis es <span id="ans2">válida</span> para un nivel de confianza de <span id="ans3"></span>.</p>
      </div>
    </div>  

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>

    <script type="text/javascript">
      const { ipcRenderer } = require("electron");
      const { Canvas } = require("chart.js");

      let bqN = document.getElementById("bqN");
      let bqNC = document.getElementById("bqNC");
      let bqAlpha = document.getElementById("bqAlpha");

      let bqAvg = document.getElementById("bqAvg");
      let bqLI = document.getElementById("bqLI");
      let bqLS = document.getElementById("bqLS");

      let ans1 = document.getElementById("ans1");
      let ans2 = document.getElementById("ans2"); 
      let ans3 = document.getElementById("ans3"); 

      let chartCtx = document.getElementById("chart").getContext('2d');

      let collection = [];

      function Z_dist(alpha) {
        if(alpha <= 0.500)  return -Z_dist(1 - alpha);
        if(alpha == 0.900)  return 1.28;
        if(alpha == 0.950)  return 1.65;
        if(alpha == 0.975)  return 1.96;
        if(alpha == 0.980)  return 2.05;
        if(alpha == 0.990)  return 2.33;
        if(alpha == 0.995)  return 2.58;
      }

      function evaluate(list, nc) {
        let alpha = 1.0 - nc;

        // Calculate average
        let r = 0.0;
        for(let i = 0; i < list.length; i++)
          r += list[i];
        r /= list.length;

        // Calculate boundaries
        let LI = 0.5 - Z_dist(1.0 - alpha / 2.0) * (1 / Math.sqrt(12 * list.length));
        let LS = 0.5 + Z_dist(1.0 - alpha / 2.0) * (1 / Math.sqrt(12 * list.length));

        // Display data
        bqN.innerText = list.length;
        bqNC.innerText = nc;
        bqAlpha.innerText = alpha.toFixed(2);

        bqAvg.innerText = r.toFixed(4);
        bqLI.innerText = LI.toFixed(4);
        bqLS.innerText = LS.toFixed(4);

        // Conclude
        let hypo = LI <= r && r <= LS;

        // Display hypo
        ans1.innerText = (hypo ? "dentro" : "fuera");
        ans2.innerText = (hypo ? "válida" : "inválida");
        ans3.innerText = Math.floor(nc * 100) + "%";

        // Display chart
        let x = [], y = [], y_avg = [], y_li = [], y_ls = [];
        for(var i = 0; i < list.length; i++)
          x.push(i + 1), y.push(list[i]) , y_avg.push(r), y_li.push(LI), y_ls.push(LS);

        let chart = new Chart(chartCtx, {
          type: 'line',
            data: {
              labels: x,
                datasets: [{
                    label: 'Valor',
                    data: y,
                    backgroundColor: ['rgba(153, 102, 255, 0.2)'],
                    borderColor: ['rgba(153, 102, 255, 1)'],
                    borderWidth: 2
                }, {
                    label: 'Media',
                    data: y_avg,
                    borderColor: ['rgba(102, 153, 255, 1)'],
                    borderWidth: 2,
                    pointRadius: 0,
                    fill: false
                }, {
                    label: 'LI',
                    data: y_li,
                    borderColor: ['#ff6384'],
                    borderWidth: 2,
                    pointRadius: 0,
                    fill: false
                }, {
                    label: 'LS',
                    data: y_ls,
                    borderColor: ['#eba236'],
                    borderWidth: 2,
                    pointRadius: 0,
                    fill: false
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
      }

      ipcRenderer.on("message", function(e, args) {
        collection = args;
        document.querySelector("#opt95").click();
      });

      document.forms.ncform.onchange = function(e) {
        let optId = e.target.id, nc = parseInt(optId.substr(3, 2)) / 100.0;
        evaluate(collection, nc);
      };

    </script>
  </body>
</html>